*{
    margin: 0;
    padding: 0;
    
}
.login{
    background-image: linear-gradient(#f97794 ,#623aa2);
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form{
    width: 250px;
    
    box-sizing: border-box;
    border: 2px solid #623aa2;
    display: flex;
    align-items: center;
    justify-content: center ;
    
    background: wheat;
    position: absolute;
}